{% extends "base.html" %}{% load static compress %}
{% block css %}
{% compress css %}
<link rel="stylesheet" href="{% static 'css/main.css' %}" />
{% endcompress %}
{% endblock css %}
{% block body %}
<nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-900">
    <div class="container flex flex-wrap items-center justify-between mx-auto">
        <a href="{% url 'home' %}" class="flex items-center">
        <img src="{% static 'img/selogo.png' %}" class="h-6 mr-3 sm:h-10" alt="Sportszy Logo" />
        <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Sportszy</span>
    </a>
</nav>
{% block content %}{% endblock content %}
{% endblock %}