{% extends "accounts/base.html" %}
{% block title %}Reset Password{% endblock title %}
{% block content %}
    <div class="bg-grey-lighter min-h-screen flex flex-col">
        <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
            <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
                <h1 class="mb-8 text-3xl text-center text-black">Change password</h1>
                <form method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        {{ field.errors }}
                        {{ field }}
                    {% endfor %}

                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Reset Password</button>
                </form>
            </div>

        </div>
    </div>
{% endblock content %}