{% extends 'accounts/base.html' %}
{% block title %}Password reset sent{% endblock title %}
{% block content %}
<div class="bg-grey-lighter min-h-screen flex flex-col">
    <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
        <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
            <h1 class="mb-8 text-3xl text-center text-black">Password reset sent</h1>
            <p>
                <b>
                    We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
                    <br> If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
                </b>
            </p>
        </div>
    </div>
</div>
{% endblock content %}