<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/flowbite.min.js"></script>

    <title>Reset password</title>
</head>

<body>
    <!--navbar-->
    <nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-900">
        <div class="container flex flex-wrap items-center justify-between mx-auto">
            <a href="#" class="flex items-center">
                <img src="img/selogo.png" class="h-6 mr-3 sm:h-10" alt="Sportszy Logo" />
                <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Sportszy</span>
            </a>
    </nav>
    <!-- component -->
    <div class="bg-grey-lighter min-h-screen flex flex-col">
        <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
            <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
                <h1 class="mb-8 text-3xl text-center">Password reset sent</h1>


                <p><b>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.

                   <br> If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</b></p>
            </div>

        </div>
    </div>


</body>

</html>