{% extends 'main/base.html' %}{% load humanize thumbnail %}
{% block title %}{{title|title}}{% endblock title %}
{% block content %}
<div class="container">
    <h1 class="h1">{{title|title}}</h1>
    <hr/>
    <div class="container my-12 mx-auto px-4 md:px-12">
    <div class="flex flex-wrap -mx-1 lg:-mx-4 items-center justify-center">
        {% for product in order.products.all %}
        <div class="w-full max-w-sm bg-white rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 ">
            <center>
            <a href="{% url 'about_product' product.product.product_id %}" target="_blank">
                <img class="p-8 rounded-t-lg" src="{% thumbnail product.product.image 250x250 crop %}" alt="{{product.product.name}} image">
            </a>
            </center>
            <div class="px-5 pb-5">
                <a href="{% url 'about_product' product.product.product_id %}" target="_blank">
                    <h5 class="text-3xl font-semibold tracking-tight text-gray-900 dark:text-white"><u>{{product.product.name|title}}</u></h5>
                </a>
                <br/>
                <span class="text-xl font-bold text-gray-900 dark:text-white">Quantity: {{product.quantity}}</span><br/>
                <span class="text-xl font-bold text-gray-900 dark:text-white">Renting hours: {{product.hours}} hours</span>
                <br/>
                {% if remove_from_cart %}
                <div class="flex items-center justify-between">
                    <span class="text-2xl font-bold text-gray-900 dark:text-white">₹{{product.product.price|intcomma}}/hr</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <form action="{% url 'remove_from_cart' %}" method="POST">{% csrf_token %}
                        <input type="hidden" name="product_id" value="{{product.product.product_id}}">
                        <button type="submit" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">Remove</button>
                    </form>    
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
</div>
<hr/>
<div class="bg-grey-lighter min-h-screen flex flex-col">
    <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
        <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
            <h1 class="mb-8 text-3xl text-center">Order Summary</h1>
            <center>
                <div class="order details">
                    <p>
                        <b>No.of Products:</b>{{no_of_items|intcomma}}
                        <br />
                        <b>Total Amount to be paid:</b> ₹ {{total_amount|intcomma}}
                        <br />
                    </p>
                </div>
            </center>
            <center>
                <br />
                {%if verify_details %}
                <form method="POST">{% csrf_token %}
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Verify details</button>
                </form>
                {% endif %}
                {% if checkout %}
                <button id="rzp-button1" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Check out</button>
                <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
                <script>
                    var options = {
                        "key": "{{ razorpay_merchant_key }}",
                        "amount": "{{ razor_pay_total_amount }}",
                        "currency": "INR",
                        "name": "Sportszy",
                        "order_id": "{{ razorpay_order_id }}",
                        "image": "{{ image_url }}",
                        "callback_url": "{{ callback_url }}",
                        "description": "Payment for the Sportszy order",
                    };
                    var rzp1 = new Razorpay(options);
                    document.getElementById('rzp-button1').onclick = function(e) {
                        rzp1.open();
                        e.preventDefault();
                    }
                </script>
                {% endif %}
            </center>
        </div>
    </div>
</div>
{% endblock content %}
