{% extends "main/base.html" %}{% load thumbnail humanize %}
{% block title %}{{product.name|title}}{% endblock title %}
{% block content %}
<div class="container my-12 mx-auto px-4 md:px-12">
    <div class="flex flex-wrap -mx-1 lg:-mx-4 justify-center">
    <div class="w-full max-w-sm bg-white rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 mx-3 my-3">
        <center>
            <img class="p-8 rounded-t-lg" src="{% thumbnail product.image 500x500 crop %}" alt="{{product.name}} image">
        </center>
    </div>

    <div class="w-full max-w-sm bg-white rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 mx-3 my-3">
            <h1 class="mt-13 mr-2 uppercase">{{product.name}}</h1>
                    <span class="text-3xl font-bold text-gray-900 dark:text-white py-4 mb-5  px-10">₹ {{product.price|intcomma}} / hour</span>
                    <br/>
                    <div class="flex flex-wrap justify-start px-10">

                    <form method="POST" action="{% url 'add_to_cart' %}">{% csrf_token %}
                        <br/>
                        <input type="hidden" name="product_id" value="{{product.product_id}}" />
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="hours">Hours of Rent: </label>
                        <input {% if product.out_of_stock %}disabled{% endif %} type="number" name="hours" value="1" min="1" class="block border border-grey-light w-full p-3 rounded mb-4" style="width: 100px;"/>
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="quantity">Quantity: </label>
                        <input type="number" {% if product.out_of_stock %}disabled{% endif %} name="quantity" value="1" min="1" max="{{product.quantity_available}}" class="block border border-grey-light w-full p-3 rounded mb-4" style="width: 100px;"/>
                        <div class="flex">
                        <div class="pdtbuttons px-2">
                            <button type="submit" {% if product.out_of_stock %}disabled{% endif %} class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full ">Add to Cart</button>
                        </div>

                        {% if cart_added %}
                        <div class="pdtbuttons px-2">
                            <a href="{% url 'cart' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full ">Goto Cart</a>
                        </div>
                            {% endif %}  
                    </div>
                        <br/>
                    </form>
                    {% if product.out_of_stock %}
                            <p class="text-red-500">Out of Stock</p>
                        {% endif %}

                      
                </div>
                

    </div>
    </div>  
</div>  

<hr/>
<p class="px-4 py-8 mx-auto lg:py-16 lg:px-6 bg-white rounded shadow-xl text-black w-full">{{product.description}}</p>
<br/>
{% for i in testimonials %}
<!--Testimonials-->
<section class="bg-white dark:bg-gray-900">
    <div class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-16 lg:px-6">
        <figure class="max-w-screen-md mx-auto">
            <svg class="h-12 mx-auto mb-3 text-gray-400 dark:text-gray-600" viewBox="0 0 24 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z" fill="currentColor"/>
            </svg>
            <blockquote>
                <p class="text-2xl font-medium text-gray-900 dark:text-white">{{i.feedback}}</p>
            </blockquote>
            <figcaption class="flex items-center justify-center mt-6 space-x-3">
                <i class='w-6 h-6 rounded-full bx bxs-user-circle' style="font-size: 35px;"></i>
                <div class="flex items-center divide-x-2 divide-gray-500 dark:divide-gray-700">
                    <div class="pr-3 font-medium text-gray-900 dark:text-white">{{i.user.first_name|title}} {{i.user.last_name|title}}</div>
                </div>
            </figcaption>
        </figure>
    </div>
</section>
<br/>
{% endfor %}
{% endblock content %}