{% extends "main/base.html" %}{% load static humanize thumbnail %}
{% block title %}Home{% endblock %}
{% block content %}
{% if category.image.url %}
<style>
.bg-header {
    background-image: url("{% static 'img/soccer.jpg'%}")
}
</style>
<header class="flex items-center justify-center h-screen mb-12 bg-fixed bg-center bg-cover bg-header">
    <img src="{% static 'img/selogo.png' %}" alt="Sportszy Logo" />
</header>
{% endif %}
<div class="container mx-auto">
<hr/>
<div>
    <h1 class="h1"><u>{{count|intcomma}} Product(s) found</u></h1>
    <hr/>
    <div class="container my-12 mx-auto px-4 md:px-12">
        <div class="flex flex-wrap -mx-1 lg:-mx-4 justify-center">
        {% for j in products %}
        <div class="w-full max-w-sm bg-white rounded-lg shadow-xl shadow-slate-400 dark:bg-gray-800 dark:border-gray-700 mx-3 my-3">
            <center>
                <a href="{% url 'about_product' j.product_id %}">
                <img class="p-8 rounded-t-lg" src="{% thumbnail j.image 325x325 crop %}" alt="product image">
                </a>
            </center>
            <div class="px-5 pb-5">
                <a href="{% url 'about_product' j.product_id %}">
                    <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">{{j.name|title}}</h5>
                </a>
                <div class="flex items-center justify-between">
                    <span class="text-3xl font-bold text-gray-900 dark:text-white">₹ {{j.price|intcomma}} / hr</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{% url 'about_product' j.product_id %}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">View Product</a>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>  
    </div>  
</div>
{% endblock content %}